/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* custome style */
body{
    line-height: 1.2;
 font-family: 'Raleway', sans-serif;
 background-color: rgb(106,117,216);
}
h1{
    text-align: center;
    font-size: 1.9rem;
    font-weight: 600;
    background-color: rgb(91, 185, 155);
    padding: 1rem 0;
    color: white;
    letter-spacing: 2px;
}
.box{
    margin: 2rem 0;
}
.flex-45{
display: flex;
margin: 0 auto;
flex-wrap: wrap;
justify-content: center;
/* flex-direction: column; */
}
h2{
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 0;
    text-align: center;
}
p{
    font-size: 1.3rem;font-weight: 500;
    text-align: center;
}
.list{
    width: 35%;
    list-style: none;
    background-color: white;
    border: 2px dashed crimson;
}
.anchor-div{
    margin: 1rem 2% 1em 29%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.627);
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 30px;
}
a{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}
.list2{
    list-style: none;
    width: 68%;
    border: 2px solid rgb(42, 130, 127);
    margin: .8rem auto;
    font-size: 2rem;
    color: white;
    padding: .6rem;
    text-align: center;

}
.btn{
    text-align: right;
    width: 70%;
    margin: 0 auto;
}
button{
    padding: .2rem 2rem;
    font-size: 1.4rem;
}
